/* Full-screen background slideshow */
.sliding-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Place background behind content */
  background-size: cover;
  background-position: center;
  animation: slideBackground 300s infinite;
}

@keyframes fadeInOut {
  0%, 20% { opacity: 1; }
  25%, 95% { opacity: 0; }
}

@keyframes slideBackground {
  0% { background-image: url('/public/images/hu.webp'); }
  25% { background-image: url('/public/images/R .jpeg'); }
  50% { background-image: url('/public/images/ye.jpg'); }
  75% { background-image: url('/public/images/yo.jpg'); }
  100% { background-image: url('/public/images/k.jpeg'); }
}

/* Ensure content sits on top */
.content-container {
  position: relative;
  z-index: 1;
  opacity:15;
   /* Optional: add a slight overlay */
}
